<p id="notice"><%= notice %></p>

<h1>Ингридиенты</h1>

<section class="ingridient-list">
  <% @ingridients.each do |ingridient| %>
    <div class="ingridient-card">
      <h3><%= ingridient.name %></h3>
      <p><%= ingridient.description %></p>
      <a><%= link_to 'Подробнее', ingridient %></a>
    </div>
  <% end %>
</section>

<br>

<%= link_to 'New Ingridient', new_ingridient_path %>
