<p id="notice"><%= notice %></p>

<section class ="ingridient-page">
  <h2>
    <%= @ingridient.name %>
  </h2>

  <p>
    <%= @ingridient.description %>
  </p>
</section>

<%= link_to 'Edit', edit_ingridient_path(@ingridient) %> |
<%= link_to 'Back', ingridients_path %>
