<p id="notice"><%= notice %></p>

<h1>Favourite Items</h1>

<table>
  <thead>
    <tr>
      <th>Favourite</th>
      <th>Product</th>
      <th>Product item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favourite_items.each do |favourite_item| %>
      <tr>
        <td><%= favourite_item.favourite_id %></td>
        <td><%= favourite_item.product_id %></td>
        <td><%= favourite_item.product_item_id %></td>
        <td><%= link_to 'Show', favourite_item %></td>
        <td><%= link_to 'Edit', edit_favourite_item_path(favourite_item) %></td>
        <td><%= link_to 'Destroy', favourite_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favourite Item', new_favourite_item_path %>
