<!-- <h1>Бог умер: теперь мы хотим, чтобы жил сверхчеловек.</h1>

<%# <%= image_tag 'image.jpg' %> %>
<div class="image"></div> -->
<article>
  <section class="welcome">
    <%= image_tag 'cornbar.png' %>
    <%= image_tag 'jelly.png' %>
    <%= image_tag 'milk.png' %>
    <%= image_tag 'sandwich.png' %>
    <div class="welcome-text">
      <h1>Этичный образ жизни — проще, чем вам кажется!</h1>
      <h3>Check veg — сервис для проверки состава продуктов питания на этичность.</h3>
      <div class = "A_Main-Button"><%= link_to 'Попробовать'%></div>
    </div>
  </section>

  <section class="about-app">
    <h3>Состав многих продуктов часто наполнен непонятными словами. Увы,&nbsp; некоторые ингридиенты могут оказаться нежелательными для&nbsp;людей, придерживающихся вегетарианского или веганского типа питания.
    Но&nbsp;не&nbsp;время для&nbsp;тревог — Check veg на&nbsp;страже этичного образа жизни! </h3>
  </section>

  <section class="functions">
  </section>

  <section class="veg-friend">
  </section>

  <section class="brands">
  </section>

  <section class="instagram">
  </section>
</article>
