<article>
  <section class="welcome">
    <%= image_tag 'cornbar.png' %>
    <%= image_tag 'jelly.png' %>
    <%= image_tag 'milk.png' %>
    <%= image_tag 'sandwich.png' %>
    <div class="welcome-text">
      <h1>Этичный образ жизни — проще, чем вам кажется!</h1>
      <h3>Check veg — сервис для проверки состава продуктов питания на этичность.</h3>
      <div class = "A_Button"><%= link_to 'Попробовать'%></div>
    </div>
  </section>

  <section class="about-app">
    <h3>Состав многих продуктов часто наполнен непонятными словами. Увы,&nbsp; некоторые ингридиенты могут оказаться нежелательными для&nbsp;людей, придерживающихся вегетарианского или веганского типа питания.
    Но&nbsp;не&nbsp;время для&nbsp;тревог — Check veg на&nbsp;страже этичного образа жизни! </h3>
    <%= image_tag 'girl.png' %>
  </section>

  <section class="functions">
    <h2>Вег(етари)анство, доступное каждому</h2>
    <h3>Мы заботимся о том, чтобы поиск  вегетарианских и веганских продуктов стал быстрым и удобным.</h3>
    <div class="many-profits">
      <div class="profit-list">
        <div class="profit">
          <%= image_tag 'bear1.png', :class => "bear" %>
          <div class ="profit-text">
            <h3>Cостав продукта за пару секунд</h3>
            <p>Просто отсканируйте штрихкод при помощи камеры смартфона, или введите название товара в поисковой строке.</p>
          </div>
        </div>
        <div class="profit">
          <%= image_tag 'bear2.png', :class => "bear" %>
          <div class ="profit-text">
            <h3>База ингридиентов под рукой</h3>
            <p>Мы собрали для вас список самых распространенных неэтичных ингридиентов. Запоминайте и остерегайтесь. А еще – запросто находите альтернативу!</p>
          </div>
        </div>
        <div class="profit">
          <%= image_tag 'bear3.png', :class => "bear" %>
          <div class ="profit-text">
            <h3>Простая кастомизация</h3>
            <p>Укажите тип своего питания со всеми и нюансами, и check veg будет радовать вас индивидуальными подсказками и подборками.</p>
          </div>
        </div>
        <div class="profit">
          <%= image_tag 'bear4.png', :class => "bear" %>
          <div class ="profit-text">
            <h3>Платформа для обмена мнениями</h3>
            <p>Check veg не был бы таким классным без активных и инициативных вас! Делитесь отзывами о продуктах, помогайте составлять топы товаров и общайтесь с единомышленниками.</p>
          </div>
        </div>
      </div>
      <div class="mockups">
        <%= image_tag 'mockup.png' %>
        <div id="slideshow">
          <div class="slide-wrapper">
            <div class="slide"></div>
            <div class="slide"></div>
            <div class="slide"></div>
            <div class="slide"></div>
            <div class="slide"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="veg-friend">
    <div class="library">
      <h2>Ваш лучший вег-друг</h2>
      <h3>Мы появились недавно, но&nbsp;уже сформировали библиотеку товаров
      и&nbsp;ингридиентов, которая поможет подбрать продукты именно под&nbsp;ваши потребности.</h3>
    </div>
    <div class="brand-point">
      <%= image_tag 'tofu-sandwich.png' %>
      <h2>1500 брендов</h2>
    </div>
    <div class="products-point">
      <h2>1500 продуктов</h2>
      <%= image_tag 'jogurt.png' %>
    </div>
    <div class="ingridients-point">
      <%= image_tag 'smoosey.png' %>
      <h2>1500 ингридиентов</h2>
    </div>
    <div class="eat-point">
      <h2>20 вариантов типа питания</h2>
      <%= image_tag 'sushi.png' %>
    </div>
  </section>

  <section class="brands">
    <div class="brand-text">
      <h2>Специальные опции для брендов</h2>
      <h3>Свободно добавляйте в сервис принадлежащую вам этичную продукцию, чтобы знакомить с ней пользователей check veg!</h3>
      <div class = "A_Main-Button"><%= link_to 'Сотрудничать с нами'%></div>
    </div>
    <%= image_tag 'brands.png' %>
  </section>

  <section class="interesting">
    <%= image_tag 'bread.png', :class => "bread"%>
    <%= image_tag 'chips.png', :class => "chips" %>
    <div class="interesting-text">
      <h2>Попробуйте Check veg!</h2>
      <h3>Проверяйте состав продуктов в&nbsp;любое время и&nbsp;в&nbsp;любом месте.</h3>
      <%= image_tag 'apstore.png', :class => "appstore" %>
    </div>
  </section>

  <section class="footer">
    <h3>Мы в соцсетях</h3>
    <div align="center" class="socialbtns">
      <ul>
        <li><a href="#" class="fa fa-lg fa-facebook"></a></li>
        <li><a href="#" class="fa fa-lg fa-twitter"></a></li>
        <li><a href="#" class="fa fa-lg fa-instagram"></a></li>
      </ul>
    </div>
  </section>
</article>
