<p id="notice"><%= notice %></p>

<h1 class="brand-name">
  Продукты от <%= @brand.name %>
</h1>

<section class="brand-page">
  <div class="product-list">
    <% @brand.products.each do |product| %>
    <% id = product.brand_id %>
    <% brand = Brand.find_by id: id %>


    <% id = product.type_id %>
    <% type = Type.find_by id: id %>

      <div class="product-card">
        <div class="card-image"><%= image_tag product.image.url %></div>
        <p><%= link_to product.name, brand_product_path(product.category, product) %></p>
      </div>
    <% end %>
  </div>
</section>

<!-- <p>
  <strong>Product:</strong>
  <%#= @brand.product_id %>
</p> -->

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
