<%= content_for :header do %>
  <menu class="header">
    <span><%= @category.name %></span>
  </menu>
<% end %>

<p id="notice"><%= notice %></p>
<section class="catalog-page">
  <%= render "categories/catalog" %>

  <div class="product-list">
    <% @category.products.each do |product| %>
    <% id = product.category_id %>
    <% category = Category.find_by id: id %>


    <% id = product.type_id %>
    <% type = Type.find_by id: id %>

      <div class="product-card">
        <div class="card-image"><%= image_tag product.image.url %></div>
        <h3><%= link_to product.name, category_product_path(product.category, product) %></h3>
      </div>
    <% end %>
  </div>
</section>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<hr>
<%= link_to 'New Product', new_category_product_path(@category) %>
<hr>

<%= render @category.products %>
