<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_id, 'Категория' %>
    <br>
    <%= form.select :category_id, Category.all.collect { |c| [c.name, c.id] } %>
    <div class="select-arrow"></div>
  </div>

  <div class="field">
    <%= form.label :name, 'Название продукта' %>
    <br>
    <%= form.text_field :name, class:"enter-name" %>
  </div>

  <div class="field">
    <%= form.label :brand_id, 'Производитель' %>
    <br>
    <%= form.select :brand_id, Brand.all.collect { |b| [b.name, b.id] }, :include_blank => true %>
    <div class="select-arrow"></div>
  </div>

  <div class="field">
    <%= form.label :type_id, 'Тип продукта' %>
    <br>
    <%= form.select :type_id, Type.all.collect { |t| [t.name, t.id] } %>
    <div class="select-arrow"></div>
  </div>

  <div class="field">
    <%= form.label :ingridient_ids, 'ПЖП', class:"ingridient-form" %>
    <br>
    <%= form.collection_check_boxes(:ingridient_ids, Ingridient.all, :id, :name) do |b| %>
        <%= b.label class:"label-checkbox" do%>
          <%=b.check_box + b.text %>
          <br>
        <%end%>
    <% end %>
    <%#= form.collection_check_boxes :ingridient_ids, Ingridient.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :description, 'Состав' %>
    <br>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :image, 'Фотография' %>
    <br>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить", class: "A_Button" %>
  </div>


<% end %>
