<%= content_for :header do %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Имя:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Тип:</strong>
  <%= @product.type.name %>
</p>

<p>
  <% @product.ingridients.each do |ingridient| %>
    <% product_items = @product.product_items.where(ingridient_id: ingridient.id) %>

    <%= count_products_by_ingridient(ingridient, @product) %>
  <% end %>
</p>

<p>
  <strong>Категория:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Состав:</strong>
  <%= @product.description %>
</p>

<%#= link_to 'About', categories_path, class: "A_Button" %>

<%= link_to 'Edit', edit_category_product_path(@product.category, @product) %>
<%= link_to 'Back', products_path %>

<hr>
