<%= content_for :header do %>
<% end %>

<p id="notice"><%= notice %></p>

<section class="product-page">
  <div class="about-product">
    <h1>
      <%= @product.name %>
    </h1>

    <% if @product.brand %>
      <a class="link-to-brand">
        Производитель:
        <%= link_to @product.brand.name, brand_path(@product.brand, @brand) %>
      </a>
    <% end %>

    <h3 class=<%= style_color(@product.type.name)%>>
        <%= @product.type.name %>
    </h3>


    <p>
      <strong>ПЖП:</strong>
      <% if @product.ingridients.count > 0 %>
        <%= ingridient_name(@product).join(', ') %>
      <% else %>
        <span class="no-ingridients">Отсутствуют ✓</span>
      <% end %>
    </p>

    <p>
      <strong>Состав:</strong>
      <%= @product.description %>
    </p>

    <%#= link_to 'About', categories_path, class: "A_Button" %>

    <%= link_to image_tag("icons/edit.png"), edit_category_product_path(@product.category, @product) %>
    <%#= link_to 'Back', products_path %>

    <%= link_to "Написать отзыв", new_product_review_path(@product) %>

    <div class="reviews">
      <% if @reviews.blank? %>
        <h3>No reviews just yet, would you like to add the first!</h3>
        <%= link_to "Write Review", new_product_review_path(@product), class: "btn btn-danger" %>
      <% else %>
        <% @reviews.each do |review| %>
          <div class="reviews">
            <p><%= current_user.email %></p>
            <p><%= review.rating %></p>
            <p><%= review.comment %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="product-image"><%= image_tag @product.image.url %></div>
</section>
