<%= content_for :header do %>
<% end %>

<p id="notice"><%= notice %></p>

<section class="product-page">
  <div class="about-product">
    <h2>
      <%= @product.name %>
    </h2>

    <p>
      <%= @product.type.name %>
    </p>

    <% unless @product.ingridients.empty? %>
      <p>
        <% @product.ingridients.each do |ingridient| %>
          <% product_items = @product.product_items.where(ingridient_id: ingridient.id) %>

          <%= count_products_by_ingridient(ingridient, @product) %>
        <% end %>
      </p>
    <% end %>

    <p>
      <strong>Состав:</strong>
      <%= @product.description %>
    </p>

    <%#= link_to 'About', categories_path, class: "A_Button" %>

    <%= link_to 'Edit', edit_category_product_path(@product.category, @product) %>
    <%= link_to 'Back', products_path %>
  </div>

  <div class="product-image"><%= image_tag @product.image.url %></div>
</section>
