<%= content_for :header do %>
<% end %>

<p id="notice"><%= notice %></p>

<section class="product-page">
  <div class="about-product">
    <h1>
      <%= @product.name %>
    </h1>

    <% if @product.brand %>
      <a class="link-to-brand">
        Производитель:
        <%= link_to @product.brand.name, brand_path(@product.brand, @brand) %>
      </a>
    <% end %>

    <h3 class=<%= style_color(@product.type.name)%>>
        <%= @product.type.name %>
    </h3>


    <p>
      <strong>ПЖП:</strong>
      <% @product.ingridients.each do |ingridient| %>
        <%= ingridient.name %>
      <% end %>
    </p>

    <p>
      <strong>Состав:</strong>
      <%= @product.description %>
    </p>

    <%#= link_to 'About', categories_path, class: "A_Button" %>

    <%= link_to image_tag("icons/edit.png"), edit_category_product_path(@product.category, @product) %>
    <%#= link_to 'Back', products_path %>
  </div>

  <div class="product-image"><%= image_tag @product.image.url %></div>
</section>
