<!DOCTYPE html>
<html>
  <head>
    <title>Checkvegg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <menu class="O_Menubar">
      <%= link_to 'Каталог', products_path %>
      <%= link_to 'Ингридиенты', ingridients_path %>
      <%= link_to 'О нас', about_page_path %>


      <%= form_tag products_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], :class => "input" %>
        <%= submit_tag " ", :name => nil, :class => "search-button" %>
      <% end %>

    </menu>

    <main class="<%= 'landing' if params[:controller] == 'static' %>">
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </main>

    <%= javascript_pack_tag 'header' %>
  </body>
</html>
