<!DOCTYPE html>
<html>
  <head>
    <title>Checkvegg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= 'landing' if params[:controller] == 'static' %>">

    <menu class="O_Menubar">
      <%= link_to 'Каталог', products_path %>
      <%= link_to 'Ингридиенты', ingridients_path %>
      <%= link_to 'О нас', about_page_path %>
      <form class="search-form" role="search">
        <div class="form-group">
          <input type="text" placeholder="Введите название или штрихкод продукта">
        </div>
        <button type="submit"><%= image_tag 'search-icon.png' %></button>
      </form>
    </menu>


    <%= yield %>

    <%= javascript_pack_tag 'header' %>
  </body>
</html>
